.chefs{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}
.card{
    transition:  all 0.5s linear;
    
}
.card:hover{
    scale: 1.05;
    cursor: pointer;
}
.card-body>h1{
    font-size: 1.5rem;
    color: rgba(12, 12, 12, 0.918);
    text-align: center;
    line-height: 1.4rem;
}
.card-body>h5{
    font-size: 1rem;
    color: rgba(46, 45, 45, 0.918);
    text-align: center;
    line-height: 1.4rem;
}